Icon
.DS_Store

/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

/site/accounts/*
!/site/accounts/index.html

/assets/avatars/*
!/assets/avatars/index.html

content/
/site/config/config.php
