/* -----  Base  ------------------------------------------------------------- */

@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/Graphik-Regular-Web.eot');
  src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Graphik-Regular-Web.woff') format('woff'),
       url('../fonts/Graphik-Regular-Web.ttf') format('truetype'),
       url('../fonts/Graphik-Regular-Web.svg#Graphik Web') format('svg');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #141516;
  font-family: 'Graphik Web', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-smoothing: antialiased;
  font-weight: 400 !important;
  min-height: 100vh;
  height: 100%;
  line-height: 2em;
}

@media (min-width: 520px) {
  body {
    align-items: stretch;
    display: flex;
  }
}

a:link,
a:visited {
  border-bottom: 1px solid;
  color: #141516;
  display: inline;
  opacity: 1;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
}

a:hover {
  opacity: 1;
}

a:link,
a[data-url]:after {
  transition: all .3s ease;
}

a:hover[data-url]:after {
  opacity: 1;
  transition: all .3s ease;
}

a[data-url] {
  display: inline;
  position: relative;
  transition: all .3s ease;
}

a[data-url]:after {
  color: #54EBDC;
  content: attr(data-url);
  font-size: .8rem;
  left: 0;
  line-height: 1em;
  margin-left: 0;
  opacity: 1;
  position: absolute;
  top: -1em;
  white-space: nowrap;
}

@media (min-width: 480px) {
  a[data-url]:after {
    opacity: 0;
  }
}

a.mail {
  border-bottom: 1px dotted;
}

h1, h2, h3 {
  font-weight: 400;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.4em;
}

h3 {
  font-size: 1em;
  margin-left: -1em;
}

h3:before {
  content: "•";
  display: inline-block;
  width: 1em;
}

li {
  list-style-type: none;
}

/* -----  Layout  ----------------------------------------------------------- */

.main {
  padding: 3em;
}  
