  /*------------------------------------*\
      BASE
  \*------------------------------------*/

  @font-face {
    font-family: 'Graphik Web';
    src: url('../../font/Graphik-Regular-Web.eot');
    src: url('../../font/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
         url('../../font/Graphik-Regular-Web.woff') format('woff'),
         url('../../font/Graphik-Regular-Web.ttf') format('truetype'),
         url('../../font/Graphik-Regular-Web.svg#Graphik Web') format('svg');
    font-weight: 400;
  }

  * {
    margin: 0;
    padding: 0;
  }

  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  body {
    font-family: 'Graphik Web', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #333;
    font-weight: 400 !important;
  }

  h1, h2, h3 {
    font-weight: 400;
  }

  li {
    list-style-type: none;
  }

  .grey {
    color: #bbb; /* C8D8DA */
  }

  .small {
    font-size: 1.5rem;
    line-height: 1.8em;
  }

  /*------------------------------------*\
      BODY
  \*------------------------------------*/

  .info {
    min-height: 100vh;
    margin-bottom: 10em;
  }

  .text {
    width: 66%;
    max-width: 790px;
    min-width: 350px;
    margin-top: 40px;
  }

  .lookatme {
    margin: 80px 40px 40px 40px;
    margin-bottom: 60px;
    max-width: 790px;
  }

  .current {
    margin: 40px;
    max-width: 790px;
  }

  .do, .notdo {
    padding: 20px 0 20px 40px;
  }

  .inspirations {
    padding: 20px 0 20px 40px;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.4em;
  }

  .big {
    font-size: 2.6rem;
    line-height: 1.4em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid #333;
    position: relative;
    display: inline;
    line-height: 1em;
  }

  a[data-url] {
    position: relative;
    display: inline;
    transition: all .3 ease;
  }

  .mail {
    border-bottom: 1px dotted #333;
  }

  a[mailto] {
    border-bottom: 1px dotted #333;
  }
  
  a[data-url]:after {
    content: attr(data-url);
    position: absolute;
    top: -1.2em;
    left: 0;
    white-space: nowrap;
    position: absolute;
    color: #54EBDC;
    font-size: 13px;
    line-height: 1em;
    margin-left: 0;
    padding: 0.1em;
    white-space: nowrap;
  }
  
  .inspirations a {
    max-width: 350px;
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .link {
    position: absolute;
    color: #52CBB0;
    font-size: 13px;
    line-height: 1em;
    margin-left: 0;
    margin-top: -0.5rem;
    padding: 0.1em;
    white-space: nowrap;
    width: auto;
    display: inline-block;
  }

  a:link, a[data-url]:after {
    transition: all .3 ease;
  }

  a[data-url]:after {
    opacity: 1;
  }

  .inspirations li {
    margin-top: 0.2em;
    margin-bottom: 0.3em;
  }

  @media (min-width: 480px) {
    a[data-url]:after {
      opacity: 0;
    }

    .small {
      font-size: 1.6rem;
      line-height: 1.8em;
    }

    .big {
      font-size: 3rem;
      line-height: 1.4em;
    }

    .inspirations li {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  a:hover[data-url]:after {
    opacity: 1;
    transition: all .3 ease;
  }

  a, a:link, a:visited {
    color: #333;
  }

  h3 {
    margin-bottom: 0.6em;
  }

  .other {
    margin-bottom: 80px;
  }