/* -----  Home  ------------------------------------------------------------- */

@media (min-width: 520px) {
  .main{
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
  }
}

.main__current {
  justify-content: flex-end;
  bottom: 0;
  margin-top: 4em;
}

.other {
  border-top: 1px solid;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

@media (min-width: 520px) {
  .other {
    border-top: none;
  }
}

.other__time {
  flex: 1;
  padding: 3em;
}

.other__random {
  flex: 2;
  border-top: 1px solid;
  padding: 3em;
  position: relative;
}
