/* -----  Project  ---------------------------------------------------------- */

h3 {
  font-size: 1em;
  font-weight: 700;
  margin-top: 2em;
}

.header {
  margin-bottom: 2em;
}

@media (min-width: 520px) {
  .main{
    flex: .5;
    margin: auto;
    min-width: 500px;
  }
}

.main__video {
  width: 100%;
  /*background: #000;*/
  flex: 1;
}

.main__video iframe {
  width: 100%;
  height: 80vh;
  z-index: -1;
}

.html5-video-player {
  background-color: #ff0000 !important;
}
